*{
    margin: 0;
    padding: 0;
 
}
a{
    text-decoration: none;
}
@font-face {
    font-family: MiddleCentury;
    src: url(../fonts/Steamy.otf);
    font-weight: normal;
    font-style: normal;
}
body{
    font-size: 26px !important;
    font-family: 'Arial';
}
:root{
    --bs-gray-100: #f8f9fa;
}

#check:checked{
    font-family: 'MiddleCentury';
}
.btnSteam{
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    width: 20%;
    height: 50px;
    background-color: #967444;
}
.container{
    padding: 30px;
    width: 20%;
    border-width: 5px;
    border-style: solid;
    background-color: #dee6ea;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-self: center;
    border-image: linear-gradient(to top, gray, blue) 10 100%;
}
.main-container{
    background-color: var(--bs-gray-200);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}
.form-container{
    margin-top: 10px;
}
.form-label{
    padding-top: 30px;
    font-weight: bolder;
}
.btn-primary{
    background-color: rgb(68, 134, 255);
    border: none;
    width: 30%;
}
.btn-outline-primary{
    width: 30%;
}
.alert-error{
    width: 90%;
    background-color: rgb(255, 195, 185);
    border: 1px solid rgb(255, 123, 67);
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}
.date-container{
    border-right: 2px solid #bbd9e7;
    width: 20%;
    height: 100vh;
    background-color: #dee6ea;
    min-width: 350px;
    
}
.input-container{
    padding-left: 5px;
    display: flex;
    flex-direction: column;
   
    margin: 0 auto;
}
#inpEdit{
    width: 90%;
}

#sub_btn{
    display: block;
}

.form-control{
    width: 75%;
}
#receiptContainer{
    display: none;
}
.formOffer{
    border-radius: 10px;
    border:5px solid #3f301b;
}

.formInputs input:not(input[type="checkbox"]){
    width: 75%;
}

